{% extends 'shopbase.html' %}
{% block head_title %}确认订单{% endblock %}
{% load operation_extras %}
{% block content %}



<!-----------------确认订单---------------->
<div id="confirm_order">
	<div class="cw1000">
		<!-----------------收货人信息---------------->
		<div class="addr_list">
			<h2>收货人信息</h2>
			<ul class="contact">
                {% for con in contactinfo %}
                    <li {% if forloop.counter == 1 %}class="cur"{% endif %}>
					    <h1>{{ con.name }}<span>&nbsp;&nbsp;&nbsp;{{ con.mobile }}</span></h1>
					    <p>{% QueryTheAddress con.city_addr %} {{ con.address }}</p>
				    </li>
                {% endfor %}
				<div class="clear"></div>
			</ul>
			<div class="add"><a href="{% url 'userinfo' 'contact' %}">收货人添加与管理</a></div>
		</div>

		<!-----------------送货清单---------------->
		<div class="list_box">
			<h2>送货清单</h2>
			<table>
				<tr>
					<th>商品名称</th>
					<th>单价</th>
					<th>数量</th>
					<th>小计</th>
				</tr>

                {% for good in goodsinfo %}
                    <tr>
					<td>
						<div class="pic"><a href="#"><img width=53 height=53 src="{{ MEDIA_URL }}{{ good.product.mainimg }}" /></a></div>
						<div class="name">
							<a href="{% url 'shop:pro_detail' good.product.id %}">{{ good.product.name }}</a>
							<p>添加日期：{{ good.add_time|date:"Y-m-d" }}</p>
						</div>
						<div class="clear"></div>
					</td>
					<td style="text-align:center;">￥{{ good.product.price|floatformat:"2" }}</td>
					<td style="text-align:center;">x{{ good.num }}</td>
					<td style="text-align:center;">￥{% CalculateThePrice good.product.price good.num good.product.freight %}</td>
				</tr>
                {% endfor %}
			</table>

		</div>
		<div class="pay_method">
			<h2>支付方式</h2>
			<ul>
				<li><a class="cur" href="javascript:void(0)">支付宝支付</a><span>← 选择支付宝支付商品金额</span></li>
				<li><a href="javascript:void(0)">微信支付</a><span>← 选择微信钱包支付商品金额</span></li>
			</ul>
		</div>
		<div class="calculation">
			<input type="submit" href="#" value="结算" />
			<span>应付金额（含运费{{ totalfreight }}元）： <b>￥{{ totalprice }}</b></span>

		</div>
	</div>
	<div class="clear"></div>
</div>

    <script>
        $(".addr_list li").click(function(){
            $(this).addClass("cur").siblings().removeClass("cur");
        });

        $(".pay_method a").click(function(){
            $(this).parents('ul').find('a').removeClass("cur");
            $(this).addClass("cur")
        });

    </script>
{% endblock %}