{% extends 'userbase.html' %}
{% load staticfiles %}
{% block title %}常用联系人{% endblock %}
{% block right %}
   <div class="w700 fr">
		<div class="public_box">
			<!-----------------常用联系人---------------->
			<div id="set_box">
				<div class="title"><h2>常用联系人</h2></div>
				<table class="table_list">
					<tr>
						<th>姓名：</th>
						<td><input class="text" type="text" value="Alpha"/></td>
					</tr>
					<tr>
						<th>所在地区：</th>
						<td>
							<select>
								<option value="">河南</option>
								<option value="">广西</option>
								<option value="">吉林</option>
								<option value="">广东</option>
							</select>
							<select>
								<option value="">洛阳</option>
								<option value="">郑州</option>
								<option value="">西安</option>
								<option value="">南阳</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>详细地址：</th>
						<td><textarea></textarea></td>
					</tr>
					<tr>
						<th>手机号码：</th>
						<td><input class="text" type="text" /></td>
					</tr>
					<tr>
						<th>邮政编码：</th>
						<td><input class="text" type="text" /></td>
					</tr>
					<tr>
						<td colspan="2">
							<label class="am-checkbox">
								<input type="checkbox" id="checkbox_a1" class="chk_1" />
								<label for="checkbox_a1"></label> 设置为默认
							</label>
						</td>
					</tr>
				</table>
				<div class="operation"><input type="submit" class="save" value="保存" /></div>
				<!-----------------联系列表---------------->
				<ul class="address">
					<li class="title">已保存{{ user_all_contact.count }}条地址，还能保存{{ user_all_contact.count|add:-10| cut:'-' }}条</li>
                    {% for contact in user_all_contact %}
					<li>
						<div>
							<div class="dt">联系人：</div>
							<div class="dd">{{ contact.name }}</div>
							<div class="clear"></div>
						</div>
						<div>
							<div class="dt">详细地址：</div>
							<div class="dd">
								<p>澳门特别行政区 路氹城 </p>
								<p>{{ contact.address }}</p>
							</div>
							<div class="clear"></div>
						</div>
						<div>
							<div class="dt">邮政编码：</div>
							<div class="dd">{{ contact.zip_code }}</div>
							<div class="clear"></div>
						</div>
						<div>
							<div class="dt">手机号码：</div>
							<div class="dd">{{ contact.mobile }}</div>
							<div class="clear"></div>
						</div>
						<div class="i-first">
                            {% if contact.is_default == True %}
						        默认地址
                            {% else %}
                                设为默认地址
						    {% endif %}
                        </div>
							<div class="btns">
							<a href="javascript:;" data-id="183590" class="modifyThis">修改</a> / <a href="javascript:;" data-id="183590" class="delThis">删除</a>
						</div>
                    {% endfor %}
                </ul>
			</div>
		</div>
	</div>
{% endblock %}