{% extends 'userbase.html' %}
{% load staticfiles %}
{% block title %}我的信息{% endblock %}
{% block right %}
    <div class="w700 fr">
		<div class="public_box">
			<!-----------------我的头像---------------->
			<div id="set_box">
				<div class="title"><h2>我的头像</h2></div>
				<div id="my_head">
					<div class="pic"><img src="{{ MEDIA_URL }}{{ request.user.portrait }}"/></div>
					<input class="file" type="file" />
				</div>
				<div class="operation"><input type="submit" class="save" value="保存" /></div>

			</div>
		</div>
	</div>
{% endblock %}