<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>我的主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-------------jquery库-------------->
  	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<!-------------Amazeui--------------->
    <script type="text/javascript" src="js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="css/user.css">    
</head>
<body>

<!-------------------版头------------------->
<div id="header">
    <div class="cw1000">
        <!-------------------logo------------------->
        <div class="logo"><a title="" href="index.html"><img alt="" src="images/logo.jpg" /></a></div>
		<!-------------------导航------------------->
		<div class="nav">
			<ul>
				<li><a title="" href="index.html">首页</a><span>|</span></li>
				<li><a title="" href="scenic_list.html">洛阳旅游</a><span>|</span></li>
				<li><a title="" href="mall_list.html">特产商城</a><span>|</span></li>
				<li><a title="" href="note_list.html">游记文章</a><span>|</span></li>
				<li><a title="" href="news_list.html">新闻资讯</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<!-------------------用户------------------->
		<div class="user">
			<a class="user-hd" href="#">
				<img src="images/user_head_pic.jpg"/><b></b>
				<div class="clear"></div>
			</a>
			<div class="user-bd">
				<div class="integral"><img src="images/integral_ico.png"/>当前积分 609</div>
				<ul class="nav_sort">
					<li><a href="my_index.html"><i class="i1"></i>我的主页</a></li>
					<li><a href="write_note.html"><i class="i2"></i>写游记</a></li>
					<li><a href="my_note.html"><i class="i9"></i>我的游记</a></li>
					<li><a href="collection_list.html"><i class="i3"></i>我的收藏</a></li>
					<li><a href="project_order.html"><i class="i4"></i>商品订单</a></li>
					<li><a href="scenic_order.html"><i class="i5"></i>旅游订单</a></li>
					<li><a href="note_comments.html"><i class="i6"></i>我的评论</a></li>
					<li><a href="my_info.html"><i class="i7"></i>设置</a></li>
					<li><a href="#"><i class="i8"></i>退出</a></li>
				</ul>
			</div>
		</div>
        <div class="clear"></div>
    </div>
</div>
<!-----------------用户banner---------------->
<div id="user_banner">
	<div class="pic">
		<a href="my_head.html">
			<img src="images/user_head_pic.jpg"/>
			<div>更换头像</div>
		</a>
	</div>
	<div class="con">
		<h2>Alpha</h2>
		<p>人生旅程，不同的是沿途风景以及看风景的心情</p>
	</div>
</div>
<!-----------------快捷导航---------------->
<div id="quick_nav">
	<a href="my_index.html"><span class="ico1"><img src="images/nav_ico1.png"/></span>个人主页</a>
	<a href="write_note.html"><span class="ico2"><img src="images/nav_ico2.png"/></span>发布游记</a>
	<a href="my_note.html"><span class="ico7"><img src="images/nav_ico7.png"/></span>我的游记</a>
	<a href="collection_list.html"><span class="ico3"><img src="images/nav_ico3.png"/></span>我的收藏</a>
	<a href="project_order.html"><span class="ico4"><img src="images/nav_ico4.png"/></span>商品订单</a>
	<a href="scenic_order.html"><span class="ico5"><img src="images/nav_ico5.png"/></span>旅游订单</a>
	<a href="note_comments.html"><span class="ico6"><img src="images/nav_ico6.png"/></span>我的评论</a>
</div>
<!-----------------框架---------------->
<div class="cw1000">
	<div class="w280 fl">
		<div class="public_box">
			<div class="public_title">
				<h2>游记评论</h2>
			</div>
			<!-----------------首页游记评论---------------->
			<div class="comments_list">
				<ul>
					<li>
						<div class="note">
							<div class="pic"><img src="images/user_head_pic.jpg"/></div>
							<div class="con">
								<a href="#"><h3>长滩岛适合玩几天，行程如何安排？</h3></a>
								<p>作者：<span>林小巫</span><label>5个评论</label></p>
							</div>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
					<li>
						<div class="note">
							<div class="pic"><img src="images/user_head_pic.jpg"/></div>
							<div class="con">
								<a href="#"><h3>长滩岛适合玩几天，行程如何安排？</h3></a>
								<p>作者：<span>林小巫</span><label>5个评论</label></p>
							</div>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
					<li>
						<div class="note">
							<div class="pic"><img src="images/user_head_pic.jpg"/></div>
							<div class="con">
								<a href="#"><h3>长滩岛适合玩几天，行程如何安排？</h3></a>
								<p>作者：<span>林小巫</span><label>5个评论</label></p>
							</div>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
				</ul>
				<div class="h_more"><a href="#">共<b>29</b>条评论</a></div>
			</div>
		</div>	
		<div class="public_box">
			<div class="public_title">
				<h2>景区评论</h2>
			</div>	
			<!-----------------首页景区评论---------------->
			<div class="comments_list">
				<ul>
					<li>
						<div class="scenic">
							<div class="tip"><img src="images/scenic_ico.png">景区</div>
							<a href="#"><h3>龙潭大峡谷</h3></a>
							<div class="clear"></div>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
					<li>
						<div class="scenic">
							<div class="tip"><img src="images/scenic_ico.png">景区</div>
							<a href="#"><h3>龙潭大峡谷</h3></a>
							<div class="clear"></div>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
					<li>
						<div class="scenic">
							<div class="tip"><img src="images/scenic_ico.png">景区</div>
							<a href="#"><h3>龙潭大峡谷</h3></a>
							<div class="clear"></div>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
				</ul>
				<div class="h_more"><a href="#">共<b>29</b>条评论</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>活动评论</h2>
			</div>	
			<!-----------------首页活动评论---------------->
			<div class="comments_list">
				<ul>
					<li>
						<div class="activities">
							<a href="#"><h3>龙门石窟白马寺一日游 包车包中午</h3></a>
							<label>￥396.0</label>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
					<li>
						<div class="activities">
							<a href="#"><h3>龙门石窟白马寺一日游 包车包中午</h3></a>
							<label>￥396.0</label>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
					<li>
						<div class="activities">
							<a href="#"><h3>龙门石窟白马寺一日游 包车包中午</h3></a>
							<label>￥396.0</label>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
				</ul>
				<div class="h_more"><a href="#">共<b>29</b>条评论</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>商品评论</h2>
			</div>	
			<!-----------------首页商品评论---------------->
			<div class="comments_list">
				<ul>
					<li>
						<div class="project">
							<a href="#"><h3>秘鲁红提500g 葡萄 新鲜水果秘鲁红</h3></a>
							<label>￥396.0</label>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
					<li>
						<div class="project">
							<a href="#"><h3>秘鲁红提500g 葡萄 新鲜水果秘鲁红</h3></a>
							<label>￥396.0</label>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
					<li>
						<div class="project">
							<a href="#"><h3>秘鲁红提500g 葡萄 新鲜水果秘鲁红</h3></a>
							<label>￥396.0</label>
						</div>
						<div class="text">
							<p>我评论：长滩岛很小，但是怎么呆都不够，如果只是玩3天就够啦，如果有时间，一躺就是一整天</p>
						</div>
					</li>
				</ul>
				<div class="h_more"><a href="#">共<b>29</b>条评论</a></div>
			</div>
		</div>
	</div>
	<div class="w700 fr">
		<div class="public_box">
			<div class="public_title">
				<h2>我的游记</h2>
			</div>	
			<!-----------------游记列表---------------->
			<div class="note_list">
				<ul>
					<li>
						<div class="pic"><img src="images/y1.jpg"/></div>
						<div class="con">
							<a href="#"><h3>我的2016# 萌哥带我走天崖之爱了爱普吉</h3></a>
							<div class="user">
								<span><img src="images/user_head_pic.jpg" />作者：<font>木子</font></span>
								<label><img src="images/state_icon1.png" />18</label>
								<label><img src="images/state_icon2.png" />20</label>
							</div>
							<p>从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十</p>
						</div>
					</li>
					<li>
						<div class="pic"><img src="images/y1.jpg"/></div>
						<div class="con">
							<a href="#"><h3>我的2016# 萌哥带我走天崖之爱了爱普吉</h3></a>
							<div class="user">
								<span><img src="images/user_head_pic.jpg" />作者：<font>木子</font></span>
								<label><img src="images/state_icon1.png" />18</label>
								<label><img src="images/state_icon2.png" />20</label>
							</div>
							<p>从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十</p>
						</div>
					</li>
					<li>
						<div class="pic"><img src="images/y1.jpg"/></div>
						<div class="con">
							<a href="#"><h3>我的2016# 萌哥带我走天崖之爱了爱普吉</h3></a>
							<div class="user">
								<span><img src="images/user_head_pic.jpg" />作者：<font>木子</font></span>
								<label><img src="images/state_icon1.png" />18</label>
								<label><img src="images/state_icon2.png" />20</label>
							</div>
							<p>从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十</p>
						</div>
					</li>
				</ul>
				<div class="h_more"><a href="#">共<b>29</b>篇游记</a></div>
			</div>
		</div>	
		<div class="public_box">
			<div class="public_title">
				<h2>我的收藏</h2>
			</div>	
			<!-----------------游记列表---------------->
			<div class="note_list">
				<ul>
					<li>
						<div class="pic"><img src="images/y1.jpg"/></div>
						<div class="con">
							<a href="#"><h3>我的2016# 萌哥带我走天崖之爱了爱普吉</h3></a>
							<div class="user">
								<span><img src="images/state_icon1.png" />作者：<font>木子</font></span>
								<label><img src="images/state_icon1.png" />18</label>
								<label><img src="images/state_icon2.png" />20</label>
							</div>
							<p>从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十</p>
						</div>
					</li>
					<li>
						<div class="pic"><img src="images/y1.jpg"/></div>
						<div class="con">
							<a href="#"><h3>我的2016# 萌哥带我走天崖之爱了爱普吉</h3></a>
							<div class="user">
								<span><img src="images/state_icon1.png" />作者：<font>木子</font></span>
								<label><img src="images/state_icon1.png" />18</label>
								<label><img src="images/state_icon2.png" />20</label>
							</div>
							<p>从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十</p>
						</div>
					</li>
					<li>
						<div class="pic"><img src="images/y1.jpg"/></div>
						<div class="con">
							<a href="#"><h3>我的2016# 萌哥带我走天崖之爱了爱普吉</h3></a>
							<div class="user">
								<span><img src="images/state_icon1.png" />作者：<font>木子</font></span>
								<label><img src="images/state_icon1.png" />18</label>
								<label><img src="images/state_icon2.png" />20</label>
							</div>
							<p>从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十</p>
						</div>
					</li>
				</ul>
				<div class="h_more"><a href="#">共<b>29</b>篇收藏</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>门票订单</h2>
			</div>	
			<!-----------------门票订单---------------->
			<div class="order_list">
				<div class="column_title">
					<ul>
						<li style="width:35%;">订单信息</li>
						<li style="width:10%;">数量</li>
						<li style="width:10%;">单价</li>
						<li style="width:10%;">总价</li>
						<li style="width:20%;">订单状态</li>
						<li style="width:15%;">操作</li>
					</ul>
				</div>
				<div class="list_con">
					<ul>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">龙潭大峡谷门票</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>已付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="evaluation" href="goods_comment.html">评价</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">龙潭大峡谷门票</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>未付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="buy" href="#">去付款</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">龙潭大峡谷门票</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>已付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="evaluation" href="goods_comment.html">评价</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="h_more"><a href="#">共<b>29</b>个订单</a></div>
			</div>
		
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>活动订单</h2>
			</div>	
			<!-----------------活动订单---------------->
			<div class="order_list">
				<div class="column_title">
					<ul>
						<li style="width:35%;">订单信息</li>
						<li style="width:10%;">数量</li>
						<li style="width:10%;">单价</li>
						<li style="width:10%;">总价</li>
						<li style="width:20%;">订单状态</li>
						<li style="width:15%;">操作</li>
					</ul>
				</div>
				<div class="list_con">
					<ul>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">龙潭大峡谷门票</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>已付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="evaluation" href="goods_comment.html">评价</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">龙潭大峡谷门票</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>未付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="buy" href="#">去付款</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">龙潭大峡谷门票</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>已付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="evaluation" href="goods_comment.html">评价</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="h_more"><a href="#">共<b>29</b>个订单</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>商品订单</h2>
			</div>	
			<!-----------------商品订单---------------->
			<div class="order_list">
				<div class="column_title">
					<ul>
						<li style="width:35%;">订单信息</li>
						<li style="width:10%;">数量</li>
						<li style="width:10%;">单价</li>
						<li style="width:10%;">总价</li>
						<li style="width:20%;">订单状态</li>
						<li style="width:15%;">操作</li>
					</ul>
				</div>
				<div class="list_con">
					<ul>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">孟津特供香酥梨一斤</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>已付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="evaluation" href="goods_comment.html">评价</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">孟津特供香酥梨一斤</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">孟津特供香酥梨一斤</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>未付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="buy" href="#">去付款</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">孟津特供香酥梨一斤</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="clear"></div>
								</div>
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">孟津特供香酥梨一斤</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="serial">订单编号：3501417528<a href="#"><i class="del"></i>删除</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="#"><img width=53 height=53 src="images/09.jpg" /></a></div>
										<div class="name">
											<a href="#">孟津特供香酥梨一斤</a>
											<p>下单日期：2017-03-06</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x1</div>
									<div class="price" style="width:10%;">￥80.9</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥160.9</div></div>
									<div class="state" style="width:20%;">
										<div class="middle">
											<p>已付款</p>
											<a href="order_details.html">订单详情</a>
										</div>
									</div>
									<div class="operation" style="width:15%;">
										<div class="middle">
											<a class="evaluation" href="goods_comment.html">评价</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="h_more"><a href="#">共<b>29</b>个订单</a></div>
			</div>

		</div>
	</div>
	<div class="clear"></div>
</div>
<!-----------------版底---------------->
<div id="footer">
	<p>Zhiqi文化旅游发展有限公司 版权所有</p>
	<p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
</div>
</body>
</html>