{% extends 'userbase.html' %}
{% load staticfiles %}
{% block framework %}
<div class="cw1000">
	<div class="public_box pd30">
		<div class="public_tag">
			<ul>
				<li><a class="cur" href="my_note.html">已发表游记</a></li>
				<li><a href="my_note2.html">我的草稿</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<!-----------------游记列表---------------->
		<div class="note_list">
			<ul>
                {% for diary in published_diary %}
				<li class="pd_r150">
					<div class="pic"><img src="{{ MEDIA_URL }}{{ diary.image }}"/></div>
					<div class="con">
						<a href="{% url 'diarys:details' diary.id %}"><h3>{{ diary.title }}</h3></a>
						<div class="user">
							<span><img src="{{ MEDIA_URL }}{{ diary.user.portrait }}" />作者：<font>{{ diary.user.nickname }}</font></span>
							<label><img src="{% static 'images/state_icon1.png' %}" />{{ diary.checknum }}</label>
							<label><img src="{% static 'images/state_icon2.png' %}" />{{ diary.commentsnum }}</label>
						</div>
						<p>{{ diary.content|striptags|truncatechars:"100"  }}</p>
					</div>
					<div class="operation">
						<a href="{% url 'diarys:getdiaray' diary.id %}"><i class="edit_ico"></i>修改</a>
						<a href="#"><i class="del_ico"></i>删除</a>
					</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
{% endblock %}