<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <title>新密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-------------jquery库-------------->
  	<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
	<!-------------Amazeui--------------->
    <script type="text/javascript" src="{% static 'js/amazeui.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/amazeui.css' %}">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
</head>
<body>
{% if messages %}

<ul class="messages">

    {%for message in messages %}

    <li{%if message.tags %} class="{{ message.tags }}"{% endif %}>{{message }}</li>

    {%endfor %}

</ul>

{% endif %}
<!-------------------登录------------------->
<div id="log_register">
	
	<div class="lr_box">
		
		<div class="tag">
			<ul>
                <li><a>新密码</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<table class="table_list">
			<form method="post" action="{% url 'new_pwd' %}">
				<tr>
					<td><input class="text" name="pwd1" type="password" placeholder="新密码"></td>
				</tr>
                <tr>
					<td><input class="text" name="pwd2" type="password" placeholder="再次输入新密码"></td>
				</tr>
                <input type="hidden" name="email" value="{{ email }}">
                <div style="color:red">{% for key,error in newpwd_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
				<tr>
					<td><input class="submit" type="submit" value="提交"></td>
				</tr>
            {% csrf_token %}
			</form>
		</table>

	</div>

</div>

{# ajax 更新验证码 #}
<script>
    $('.captcha').click(function () {
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
});
</script>
</body>
</html>

