{% extends 'userbase.html' %}
{% load staticfiles %}
{% block title %}修改密码{% endblock %}
{% block right %}
    <div class="w700 fr">
		<div class="public_box">
			<!-----------------修改密码---------------->
			<div id="set_box">
				<div class="title"><h2>修改密码</h2></div>
                <form method="post" action="{% url 'setting' 'security' %}">
				<table class="table_list">
					<tr>
						<th>旧密码：</th>
						<td><input class="text" name="oldpwd" type="password" value=""/></td>
					</tr>
					<tr>
						<th>新密码：</th>
						<td><input class="text" name="newpwd1" type="password" value=""/></td>
					</tr>
					<tr>
						<th>再次输入：</th>
						<td><input class="text" name="newpwd2" type="password" value=""/></td>
					</tr>
				</table>
                {% csrf_token %}
				<div class="operation"><input type="submit" class="save" value="保存" /></div>
                </form>
			</div>
		</div>
	</div>
{% endblock %}