{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-------------jquery库-------------->
  	<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
	<!-------------Amazeui--------------->
    <script type="text/javascript" src="{% static 'js/amazeui.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/amazeui.css' %}">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
</head>
<body>

<!-------------------版头------------------->
<div id="header">
    <div class="cw1000">
        <!-------------------logo------------------->
        <div class="logo"><a title="" href="{% url 'index' %}"><img alt="" src="{% static 'images/logo.jpg' %}" /></a></div>
		<!-------------------导航------------------->
		<div class="nav">
			<ul>
				<li><a title="" href="{% url 'index' %}">首页</a><span>|</span></li>
				<li><a title="" href="{% url 'scenicspots:all' %}">洛阳旅游</a><span>|</span></li>
				<li><a title="" href="{% url 'shop:all' %}">特产商城</a><span>|</span></li>
				<li><a title="" href="{% url 'diarys:all' 'new' %}">游记文章</a><span>|</span></li>
				<li><a title="" href="{% url 'news:all' %}">新闻资讯</a><span>|</span></li>
                <li><a title="" href="https://github.com/ZhiqiKou/TravelWeb">项目地址</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<!-------------------用户------------------->
		<div class="user">
			<a class="user-hd" href="#">
				<img src="{{ MEDIA_URL }}{{ request.user.portrait }}"/><b></b>
				<div class="clear"></div>
			</a>
			<div class="user-bd">
				<div class="integral"><img src="{% static 'images/integral_ico.png' %}"/>当前积分 {{ request.user.integral }}</div>
				<ul class="nav_sort">
					<li><a href="my_index.html"><i class="i1"></i>我的主页</a></li>
					<li><a href="{% url 'diarys:getdiaray' 0 %}"><i class="i2"></i>写游记</a></li>
					<li><a href="{% url 'diarys:mydetails' 'published' %}"><i class="i9"></i>我的游记</a></li>
					<li><a href="collection_list.html"><i class="i3"></i>我的收藏</a></li>
					<li><a href="{% url 'pay:project_order' %}"><i class="i4"></i>商品订单</a></li>
					<li><a href="scenic_order.html"><i class="i5"></i>旅游订单</a></li>
					<li><a href="note_comments.html"><i class="i6"></i>我的评论</a></li>
					<li><a href="{% url 'userinfo' 'info' %}"><i class="i7"></i>设置</a></li>
					<li><a href="{% url 'logout' %}"><i class="i8"></i>退出</a></li>
				</ul>
			</div>
		</div>
        <div class="clear"></div>
    </div>
</div>

{% block content %}
<!-----------------用户banner---------------->
<div id="user_banner">
	<div class="pic">
		<a href="{% url 'userinfo' 'head' %}">
			<img src="{{ MEDIA_URL }}{{ request.user.portrait }}"/>
			<div>更换头像</div>
		</a>
	</div>
	<div class="con">
		<h2>{{ request.user.nickname }}</h2>
		<p>{{ request.user.signature }}</p>
	</div>
</div>
<!-----------------快捷导航---------------->
<div id="quick_nav">
	<a href="my_index.html"><span class="ico1"><img src="{% static 'images/nav_ico1.png' %}"/></span>个人主页</a>
	<a href="{% url 'diarys:getdiaray' 0 %}"><span class="ico2"><img src="{% static 'images/nav_ico2.png' %}"/></span>发布游记</a>
	<a href="{% url 'diarys:mydetails' 'published' %}"><span class="ico7"><img src="{% static 'images/nav_ico7.png' %}"/></span>我的游记</a>
	<a href="collection_list.html"><span class="ico3"><img src="{% static 'images/nav_ico3.png' %}"/></span>我的收藏</a>
	<a href="{% url 'pay:project_order' %}"><span class="ico4"><img src="{% static 'images/nav_ico4.png' %}"/></span>商品订单</a>
	<a href="scenic_order.html"><span class="ico5"><img src="{% static 'images/nav_ico5.png' %}"/></span>旅游订单</a>
	<a href="note_comments.html"><span class="ico6"><img src="{% static 'images/nav_ico6.png' %}"/></span>我的评论</a>
</div>
<!-----------------框架---------------->
    {% block framework %}
<div class="cw1000">
	<div class="w280 fl">
		<div class="public_box">
			<!-----------------设置导航---------------->
			<div id="set_nav">
				<ul>
					<li><a {% if info_type == 'info' %}class="cur"{% endif %} href="{% url 'userinfo' 'info' %}"><i class="ico1"></i>我的信息</a></li>
					<li><a {% if info_type == 'head' %}class="cur"{% endif %} href="{% url 'userinfo' 'head' %}"><i class="ico2"></i>我的头像</a></li>
					<li><a {% if info_type == 'contact' %}class="cur"{% endif %} href="{% url 'userinfo' 'contact' %}"><i class="ico3"></i>常用联系人</a></li>
					<li><a {% if info_type == 'security' %}class="cur"{% endif %} href="{% url 'userinfo' 'security' %}"><i class="ico4"></i>修改密码</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% block right %}{% endblock %}
	<div class="clear"></div>
</div>
    {% endblock %}
{% endblock %}
<!-----------------版底---------------->
<div id="footer">
	<p>Zhiqi文化旅游发展有限公司 版权所有</p>
	<p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
</div>
</body>
{% block script %}{% endblock %}
</html>