<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>美丽乡村</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-------------jquery库-------------->
  	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="css/style.css">    
</head>
<body>
<!-------------------工具栏------------------->
<div id="toolbar">
    <div class="cw1200">
        <ul class="fl">
            <li class="tb"><p>您好，欢迎访问Zhiqi Travel Website！</p></li>
            <li class="tb"><a href="login.html">登录</a><span>|</span></li>
            <li class="tb"><a href="register.html">注册</a></li>
        </ul>
        <ul class="fr">
            <li class="tb">
				<a href="#">我的河洛</a>
				<!-------------------用户------------------->
				<div class="user">
					<a class="user-hd" href="#">
						<img src="images/user_head_pic.jpg"/><b></b>
						<div class="clear"></div>
					</a>
					<div class="user-bd">
						<div class="integral"><img src="images/integral_ico.png"/>当前积分 609</div>
						<ul class="nav_sort">
							<li><a href="my_index.html"><i class="i1"></i>我的主页</a></li>
							<li><a href="write_note.html"><i class="i2"></i>写游记</a></li>
							<li><a href="my_note.html"><i class="i9"></i>我的游记</a></li>
							<li><a href="collection_list.html"><i class="i3"></i>我的收藏</a></li>
							<li><a href="project_order.html"><i class="i4"></i>商品订单</a></li>
							<li><a href="scenic_order.html"><i class="i5"></i>旅游订单</a></li>
							<li><a href="note_comments.html"><i class="i6"></i>我的评论</a></li>
							<li><a href="my_info.html"><i class="i7"></i>设置</a></li>
							<li><a href="#"><i class="i8"></i>退出</a></li>
						</ul>
					</div>
				</div>
				<span>|</span>
			</li>
            <li class="tb"><a href="shop_car.html"><i class="cart_ico"></i>购物车</a><span>|</span></li>
            <li class="tb"><a href="news_list.html">用户帮助中心</a><span>|</span></li>
            <li class="tb"><img src="images/tel_ico.gif"/><font>40000-40000</font></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<!-------------------版头------------------->
<div id="header">
    <div class="cw1200">
        <!-------------------logo------------------->
        <div class="logo fl"><a href="index.html"><img src="images/t_logo.jpg"></a></div>
        <div class="search_nav fl">
            <!-------------------搜索------------------->
            <div class="search radius6">
				<form name="searchform" method="post" action="/e/search/index.php">
					<input name='ecmsfrom' type='hidden' value='9'>
					<input type="hidden" name="show" value="title,newstext">
					<select name="classid" id="choose">
						<option value="0">景区</option>
						<option value="1">特产</option>
						<option value="4">游记</option>
						<option value="22">文章</option>
					</select> 
					<input class="inp_srh" name="keyboard"  placeholder="请输入您要搜索的关键词" >
					<input class="btn_srh" type="submit" name="submit" value="搜索">
				</form>
			</div>
			<script type="text/javascript" src="js/jquery.select.js"></script>
            <!-------------------导航------------------->
            <div class="nav">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="scenic_list.html">洛阳旅游</a></li>
                    <li><a href="mall_list.html">特产商城</a></li>
                    <li><a class="cur" href="note_list.html">美丽乡村</a></li>
                    <li><a href="news_list.html">新闻资讯</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!------------------美丽乡村-------------------->
<div id="note_list">
	<div class="banner">
		<h2>美丽乡村</h2>
		<p>发现美丽乡村，记录精彩瞬间，保存美好回忆</p>
	</div>
	<div class="tag">
		<div class="cw1200">
			<a class="cur" href="#">最新游记</a><span></span>
			<a href="#">发现精彩</a><span></span>
			<a href="write_note.html">我要写游记</a>
		</div>
	</div>
	<div class="con">
		<div class="cw1200">
			<ul class="am-avg-sm-2">
				<li>
					<div class="box">
						<div class="pic">
							<div class="cover"><a href="note.html"><img class="scale-effect " src="images/1458530382234p1aebir9i21s4q2hiiso1ip6msf29.jpg"/></a></div>
							<div class="head"><img src="images/head1.jpg"/></div>
						</div>
						<div class="meta">
							<p><a href="note.html">洛阳，历史长河中的一处停歇</a></p>
							<span>2017/02/02 作者：A monologue. 独白。<label><img src="images/state_icon1.png"/>18</label><label><img src="images/state_icon2.png"/>20</label></span>
						</div>
					</div>
				</li>
				<li>
					<div class="box">
						<div class="pic">
							<div class="cover"><a href="note.html"><img class="scale-effect " src="images/10F118AC-FE28-4986-A6D0-B9E739F8CFDC.jpg"/></a></div>
							<div class="head"><img src="images/head1.jpg"/></div>
						</div>
						<div class="meta">
							<p><a href="note.html">洛阳，历史长河中的一处停歇</a></p>
							<span>2017/02/02 作者：A monologue. 独白。<label><img src="images/state_icon1.png"/>18</label><label><img src="images/state_icon2.png"/>20</label></span>
						</div>
					</div>
				</li>
				<li>
					<div class="box">
						<div class="pic">
							<div class="cover"><a href="note.html"><img class="scale-effect " src="images/DD0E49BD-47F5-4B10-85DB-FE2390B91541.jpg"/></a></div>
							<div class="head"><img src="images/head1.jpg"/></div>
						</div>
						<div class="meta">
							<p><a href="note.html">洛阳，历史长河中的一处停歇</a></p>
							<span>2017/02/02 作者：A monologue. 独白。<label><img src="images/state_icon1.png"/>18</label><label><img src="images/state_icon2.png"/>20</label></span>
						</div>
					</div>
				</li>
				<li>
					<div class="box">
						<div class="pic">
							<div class="cover"><a href="note.html"><img class="scale-effect " src="images/1470142217075p1ap5krur5imd15qq1ims12ojghn2.jpg"/></a></div>
							<div class="head"><img src="images/head1.jpg"/></div>
						</div>
						<div class="meta">
							<p><a href="note.html">洛阳，历史长河中的一处停歇</a></p>
							<span>2017/02/02 作者：A monologue. 独白。<label><img src="images/state_icon1.png"/>18</label><label><img src="images/state_icon2.png"/>20</label></span>
						</div>
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
</div>

<!-----------------版底---------------->
<div id="footer">
    <div class="cw1200">
        <div class="line"><img src="images/b_line.png"/></div>
        <div class="b_logo"><img src="images/b_logo.png"/></div>
        <div class="con">
            <p>Zhiqi文化旅游发展有限公司 版权所有</p>
            <p>地址：河南省洛阳市Zhiqi文化游客接待中心　邮编：000000　电话：0000-00000000　业务电话：0000-0000000</p>
            <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>